#

# Validando a melhor forma de usar o modelo no AWS Lambda

## Metodo 1

- Usando o joblib para carregar o modelo

In [7]:
import joblib
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split

In [4]:
%%time
model = joblib.load("model.joblib")

CPU times: total: 15.6 ms
Wall time: 16.2 ms

In [8]:
df = pd.read_csv("http://raw.githubusercontent.com/datasciencedojo/datasets/master/titanic.csv")

In [25]:
df['Embarked'].unique()

array(['S', 'C', 'Q', nan], dtype=object)

In [9]:
target = "Survived"
ignore_cols = ["Name", "PassengerId", "Ticket", "Cabin"]
numeric_preds = list(set(df._get_numeric_data().columns) - set([target] +ignore_cols))
cat_preds = list(set(df.columns) - set([target] + ignore_cols + numeric_preds))

In [21]:
cat_preds

['Embarked', 'Sex']

In [23]:
df_prep = pd.concat([df[numeric_preds], df[[target]], pd.get_dummies(df[cat_preds], drop_first=True)], axis=1).fillna(0)
df_prep.sample(10)

,Pclass,SibSp,Age,Parch,Fare,Survived,Embarked_Q,Embarked_S,Sex_male
595,3,1,36.0,1,24.1500,0,False,True,True
465,3,0,38.0,0,7.0500,0,False,True,True
693,3,0,25.0,0,7.2250,0,False,False,True
333,3,2,16.0,0,18.0000,0,False,True,True
318,1,0,31.0,2,164.8667,1,False,True,False
427,2,0,19.0,0,26.0000,1,False,True,False
17,2,0,0.0,0,13.0000,1,False,True,True
391,3,0,21.0,0,7.7958,1,False,True,True
570,2,0,62.0,0,10.5000,1,False,True,True
51,3,0,21.0,0,7.8000,0,False,True,True

In [19]:
predictors = list(set(df_prep.columns) - set([target]))

In [18]:
predictors

['Pclass',
 'SibSp',
 'Age',
 'Parch',
 'Fare',
 'Sex_male',
 'Embarked_Q',
 'Embarked_S']